<div class=" mx-auto p-6 space-y-6">

  <div class="flex justify-between items-center bg-white p-6 rounded-3xl shadow-sm border border-slate-100">
    <div>
      <h1 class="text-xl font-black text-slate-800">Order {{ orderId }}</h1>
      <p class="text-xs text-slate-400">Placed on March 28, 2026</p>
    </div>
    <button (click)="reorder()"
      class="flex items-center gap-2 px-6 py-2.5 bg-red-600 text-white rounded-xl font-bold text-sm hover:bg-red-700 transition-all shadow-lg shadow-red-100">
      <span class="material-symbols-outlined text-sm">refresh</span>
      Reorder Now
    </button>
  </div>

  <div class="bg-white rounded-3xl shadow-sm border border-slate-100 overflow-hidden">
    <div class="p-6 border-b font-bold text-slate-800 flex justify-between">
      <span>Order Items</span>
      <span class="text-red-600 text-sm italic">* Prices may have changed</span>
    </div>

    <div class="divide-y divide-slate-50">
      <div *ngFor="let item of orderItems" class="p-5 flex items-center gap-4 hover:bg-slate-50 transition-colors">
        <div class="w-20 h-20 bg-slate-100 rounded-2xl flex-shrink-0 flex items-center justify-center text-slate-400">
          <span class="material-icons">fastfood</span>
        </div>
        <div class="flex-1">
          <h4 class="text-sm font-bold text-slate-800">{{ item.name }}</h4>
     <!--      <p class="text-[10px] text-gray-400 uppercase tracking-tighter">SKU: {{ item.sku }}</p> -->
          <p class="text-xs text-slate-500 mt-1">Qty: {{ item.quantity }} x {{ item.price | number }}</p>
        </div>
        <div class="text-right">
          <div class="text-sm font-black text-slate-800 font-mono">
            ฿{{ (item.price * item.quantity) | number }}
          </div>
        </div>
      </div>
    </div>

    <div class="bg-slate-50 p-6 border-t border-slate-100">
      <div class="flex justify-between items-center">
        <span class="text-sm font-bold text-slate-500 uppercase">Total Amount Paid</span>
        <span class="text-2xl font-black text-slate-900 font-mono">{{orderHeader.totalAmount}}</span>
      </div>
    </div>
  </div>

  <div class="text-center">
    <button routerLink="/dashboard/orders" class="text-slate-400 text-sm font-medium hover:text-slate-600">
      ← Back to Order History
    </button>
  </div>
</div>
